strategy: min

source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0

nuget FSharp.Core ~> 4

//git https://github.com/palladin/Higher.git master build: "build.cmd BuildPackage", Packages: /bin/, OS: windows
//nuget Higher

nuget Avalonia.Desktop
nuget Avalonia.Win32
nuget Elmish
nuget JaggerJo.Avalonia.FuncUI
nuget JaggerJo.Avalonia.FuncUI.DSL
nuget JaggerJo.Avalonia.FuncUI.Elmish

nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.Hopac

nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk
nuget Expecto.VisualStudio.TestAdapter

nuget System.Reflection.Emit ~> 4.7
nuget System.Runtime ~> 4.3.1